/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set up the body */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f0f1c;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    animation: backgroundAnimation 5s infinite alternate;
  }
  
  @keyframes backgroundAnimation {
    0% {
      background: linear-gradient(45deg, #0f0f1c, #090809,#1c1573, #3333ff);
    }
    100% {
      background: linear-gradient(45deg, #090809, #050505,#2b1361, #3333ff);
    }
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    /*text-shadow: 0 0 8px rgba(15, 102, 102, 0.6);*/
  }
  
  .navbar-logo img {
    height: 50px;
    margin-right: 15px;
    animation: logoGlow 1.5s infinite alternate;
  }
  /*
  @keyframes logoGlow {
    0% {
      box-shadow: 0 0 20px rgba(2, 21, 21, 0.9), 0 0 40px rgba(0, 255, 255, 0.6);
    }
    100% {
      box-shadow: 0 0 40px rgba(1, 7, 7, 0.9), 0 0 60px rgba(0, 255, 255, 0.6);
    }
  }
  */
  .navbar-links {
    display: flex;
    gap: 30px;
  }
  
  .navbar-links li {
    list-style-type: none;
  }
  
  .navbar-links a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.4s;
    position: relative;
    z-index: 2;
  }
  
  .navbar-links a:hover {
    color: #0ff;
    transform: translateY(-5px);
    text-shadow: 0 0 10px rgba(0, 255, 255, 1), 0 0 20px rgba(0, 255, 255, 0.8);
  }
  
  .navbar-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 255, 255, 0.2);*/
    transition: all 0.4s;
    border-radius: 5px;
    z-index: -1;
  }
  
  .navbar-links a:hover::before {
    width: 0%;
    height: 0%;
    transform: scale(5);
  }
  
  /* Mobile Menu Icon */
  .mobile-menu-icon {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .mobile-menu-icon i {
    color: #fff;
  }
  
  /* Mobile Menu */
  .navbar-links-mobile {
    display: block;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    text-align: center;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-links-mobile li {
    list-style-type: none;
  }
  
  .navbar-links-mobile a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: 0.3s ease;
    text-transform: uppercase;
  }
  
  .navbar-links-mobile a:hover {
    color: #0ff;
    transform: scale(1.1);
  }
  
  .navbar-links-mobile.active {
    transform: translateX(0);
  }
  
  /* Media Query for Mobile */
  @media screen and (max-width: 768px) {
    .navbar-links {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
    .navbar-links-mobile.active {
      display: block;
    }
  }
  

  